<mat-card class="cardBackground">
  <mat-card-title>Feedback Form</mat-card-title>
  <mat-card-content>

    <div class="mainContainer">
      <div class="firstSubContainer">
        <p>We would like your feedback to improve our services.</p>
        <p>What is your opinion of this page?</p>
        <div>
          <mat-icon class="iconClass" [ngClass]="{'iconClass': !icon.isIconSelected,'iconSelectedClass': icon.isIconSelected}" *ngFor="let icon of iconList; let i = index;"
            (click)="selectedIcon(i)">{{icon.iconName}}</mat-icon>
        </div>
      </div>

      <div class="secondSubContainer">
        <p>Please Leave a comment below :</p>

        <mat-form-field style="width: 100%">
          <textarea matInput placeholder="Comment" matAutosizeMaxRows="6" [(ngModel)]="textAreaValue"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>